{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/about.css' %}">
{% endblock %}

{% block content %}
<main>
    <h1>Прошлое и будущее Ульяновска-Симбирска в одном виртуальном пространстве</h1>
    <section class="one">
        <div class="history">
            <h4>/01</h4>
            <h5>История создания музея</h5>
            <p>Виртуальный музей Ульяновска-Симбирска был создан с целью сохранить и популяризировать богатую историю и культуру города, объединив их с современными технологиями. Этот проект стал ответом на вызовы времени: стремление сделать культурное наследие доступным для всех, независимо от места проживания и возможностей. С самого начала идея музея заключалась в том, чтобы создать не просто каталог исторических данных, а живое, динамичное пространство, где посетители могли бы буквально прикоснуться к истории через инновации.</p>
        </div>
        <div class="history">
            <h4>/02</h4>
            <h5>Связь с проектом «Метатория»</h5>
            <p>Музей стал частью проекта «Метатория» — уникальной инициативы Ульяновского государственного технического университета. Основной фокус проекта — использование XR-технологий (расширенной реальности) для создания постоянно действующих виртуальных пространств. Каждая локация музея — это не просто исторический объект, но и интерактивная площадка, где история встречается с технологиями. Например, посетители могут увидеть, как выглядела улица Симбирска XIX века, выполнить виртуальный эксперимент или пройти квест, связанный с культурным наследием.</p>
        </div>
        <div class="history">
            <h4>/03</h4>
            <h5>Роль студенческого конструкторского бюро</h5>
            <p>Ключевую роль в разработке виртуального музея сыграло студенческое конструкторское бюро при Ульяновском государственном техническом университете. Молодые ученые и студенты активно работали над созданием 3D-моделей, разработкой сценариев взаимодействия и реализацией XR-технологий. Именно они создали первые локации музея, начиная с реконструкции исторических мест и заканчивая виртуальной химической лабораторией, где пользователи могут проводить эксперименты. Работа студентов внесла инновационный подход в проект, сделав его не просто виртуальной площадкой, но и образовательным инструментом, который вдохновляет на дальнейшее изучение истории города и развитие технологий.</p>
        </div>
    </section>
    <h1>Таймлайн создания виртуального музея</h1>
    <img class="calendar" src="{% static 'deps/img/calendar.png'%}">
</main>
{% endblock  %}